<h1>form</h1>
<form action="" [formGroup]="myForm">
  <label for="">first name</label>
  <input type="text" formControlName="firstname">
  <label for="">lastt name</label>
  <input type="text" formControlName="lastname">
  <label for="">age</label>
  <input type="text" formControlName="age" (input)="addjob()">
  <br><br><br>
  <!-- <button (click)="addjob()">add</button> -->
  <!-- formarray -->
  <ng-container formArrayName="job">
    <ng-container *ngFor="let jobFo of job.controls; let i=index" [formGroupName]="i">
      <br>
      <br>
      <div>
        <!-- <button (click)="addjob()">Add experience</button> -->
        <label for="">Job title</label>
        <input type="text" formControlName="jobtitle">
        <label for="">Location</label>
        <input type="text" formControlName="location">
        <label for="">From </label>
        <input type="date" formControlName="from">
        <label for="">to</label>
        <input type="date" formControlName="to">
        <button (click)="deletejob()">delete</button>
      </div>
         </ng-container>
    
  </ng-container>

  </form>

<button (click)="save()">save</button>